@font-face {
  font-family: "iconfont"; /* Project id 3736760 */
  src: url('//at.alicdn.com/t/c/font_3736760_omlcou86xsk.woff2?t=1667016312476') format('woff2'),
       url('//at.alicdn.com/t/c/font_3736760_omlcou86xsk.woff?t=1667016312476') format('woff'),
       url('//at.alicdn.com/t/c/font_3736760_omlcou86xsk.ttf?t=1667016312476') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e699";
}